.cart_wraper{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   display: flex;
   margin: 3vmax 10vmax;
   padding: 3vmax;
   justify-content: space-start;
   gap:5vmax;
}
.cart_Right > img{
    height: 10vmax;

}
.cart_Left{
    display: flex;
    flex-direction: column;
    gap:1vmax;


}
.heading{
    text-align: center;
    margin: 3vmax auto;
    border-bottom: 2px solid black;
    width: 20vmax;
    font-family: 'roboto';
}